.product-for-cart {display: flex; padding: 15px 0; border-bottom: 1px solid #343e5c;}
.product-for-cart img {width: 130px; max-height: 190px;}
.cart-img {height: 175px;}
.cart-title {display: flex; justify-content: space-between; margin-bottom: 15px;}

.cart-container {margin-left: 30px; color: #000; font-size: 18px; width: 100%;}
.cart-container a {color: #0095ff;}
.cart-container h2 {}
.count {float: left; display: flex;}
.count p {height: 24px; width: 24px; line-height: 24px; text-align: center;}
.price {float: left; height: 24px; line-height: 24px; margin-left: 20px;}
.total-product-price {float: right; line-height: 24px; font-weight: bold;}

.dialog-footer {display: flex; margin: 20px 0; justify-content: space-between;}
.total-price-cart {}
.total-price-cart p {font-weight: bold; font-size: 40px; color:#000; margin-top: 7px;}
.total-price-cart p span {font-size: 20px;}

.create-order {background-color: #343e5c; color: #FFF; display: flex; align-items: center; padding: 0 45px;}
