.catalogContainer {display: flex; justify-content: space-between; align-items: flex-start;}
.filter {width: 33%;}
.productsContainer {display: flex; flex-wrap: wrap; flex-direction: row; justify-content: normal; align-content: space-between; margin-top: 25px; width: 100%}

.catalog-main-page {display: flex; justify-content: space-around; flex-direction: row; flex-wrap: wrap; color: #000;}
.catalog-main-page a {color: #000;}
.one-category-link {margin: 20px 0; border: 1px solid #fff;}
.one-category-link:hover {border: 1px solid #343e5c;}
.one-category-link h2 {text-align: center; font-size: 25px; margin: 15px 0;}
.one-category-link img {height: 300px; width: 500px;}

.noProducts {width: 100%; text-align: center; margin: 15px auto; font-size: 25px;}
