.catalogContainer {display: flex; justify-content: space-between; align-items: flex-start;}
.filter {width: 33%;}
.productsContainer {display: flex; flex-wrap: wrap; flex-direction: row; justify-content: normal; align-content: space-between; margin-top: 25px; width: 100%}
