.profile {background-color: #fff;}
.profile-container {margin-top: 30px; padding: 20px;}
.profile-avatar {float: left; margin: 0 30px;}
.profile-avatar img {width: 200px; height: 200px; border-radius: 50%;}
.profile-info {float: left;}
.profile-info h2, .profile-info h3 {color: #000; margin: 10px 0;}
.profile-info h2 {font-size: 30px; font-weight: bold;}
.profile-info h3 {font-size: 18px;}

.profile-tabs {margin-top: 30px;}
.profile-tabs-nav li {cursor: pointer;}
.profile-tabs-nav .active {background-color: #e5e5e5}
.profile-tabs ul {}
.profile-tabs ul li {float: left; margin-left: 20px; background-color: #f5f5f6; color: #000; width: 300px; height: 50px; line-height: 50px; text-align: center;} /*background-color active: #e5e5e5*/
.profile-tabs-container {margin: 30px 0;}
.profile-tabs-container h2 {color: #000; font-weight: bold; font-size: 20px; text-align: center; margin: 15px 0;}

.profile-data {}
.profile-data form {width: 400px; margin: 0 auto; font-size: 16px;}
.profile-data form p {  }
.submit-update-data {text-align: center; margin: 20px 0;}
.submit-update-data button {width: 250px; background-color: #2ea8fd; color: #FFF; font-size: 20px; border: none; padding: 10px; border-radius: 10px; cursor: pointer;}

#orders-history {}
#orders-history li {float: none; width: auto; background-color: #FFF;}
#orders-history a {color: #0095ff;}
.order-more {border-radius: 5px; border: 1px solid #0095ff; padding: 5px 10px; margin-left: 15px;}
#orders-history a:hover {color:#000;}
